/*      Request ID: b6625d331a6bcee94b9b1b8d4551e414_1592589061 (01/01/2021 4:46pm)      */



/*      Resource ID: 18ebb507a69c786e6fa30e87c9c (widgets.less, compiled by lessc, minified by cleancss) (01/01/2021 4:46pm)      */

.lw_widget_column_wrapper{display:flex;flex-direction:row;flex-wrap:nowrap;vertical-align:top;margin-left:-15px;margin-right:-15px}.lw_widget_column{flex-grow:1;flex-basis:0;max-width:100%;padding-right:15px;padding-left:15px}@media (max-width:768px){.lw_widget_column_wrapper{flex-direction:column}}